* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

nav {
    background-color: dodgerblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav li {
    display: inline;
    margin-left: 20px;
}

nav a {
    color: white;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
}

/* section styles */
section {
    height: 80vh;
    display: flex;
    align-items: center;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
}

.top-section .row>div {
    width: 50%;
}

.content h1 {
    font-size: 70px;
}

.content p {
    font-size: 20px;
}

.content span {
    color: green;
}

.content form {
    border: 1px solid #000;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

.content input {
    width: 80%;
    padding: 10px;
    border: none;
    background-color: transparent;
    outline: none;
}

.content button {
    border-radius: 20px;
    background-color: dodgerblue;
    color: #fff;
}

.image-container {
    height: 80vh;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* service-section */
.service-section {
    background-color: lightblue;
    overflow: hidden;
    overflow-x: scroll;
    padding: 0px 20px;
}

.service-section .row {
    /* flex-direction: column; */
    gap: 20px;
    justify-content: center;
}

.card-container {
    width: 300px;
    background-color: #fff;
    padding: 10px;
    /* box-shadow: 0px 0px 3px #000; */
}

/* contact styles */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

main form input,
textarea {
    width: 100%;
    margin-bottom: 10px;
}

textarea {
    resize: none;
    height: 200px;
}

footer {
    background-color: #0c0c0c;
    color: white;
    padding: 50px 10px;
}

footer .row {
    justify-content: space-between;
    align-items: baseline;
}

footer .row>div {
    width: 40%;
}

footer a {
    color: #ffffff;
}

/* Tablet */
@media screen and (max-width:768px) {
    section {
        height: auto;
        padding: 20px 0px;
    }

    .top-section .row>div {
        width: 60%;
    }

    .content h1 {
        font-size: 30px;
    }

    .image-container {
        height: auto;
    }

    .image-container img {
        object-fit: contain;
    }

    .service-section {
        padding: 20px 20px;
    }
}

/* mobile phone */
@media screen and (max-width:576px) {
    .top-section .row {
        flex-direction: column-reverse;
    }

    .top-section .row>div {
        width: 100%;
    }

    form.card-container {
        width: 90%;
        margin: 0 auto;
    }

    footer .row {
        align-items: center;
    }
}

/* mobile phone */
@media screen and (max-width:320px) {
    footer .row {
        align-items: baseline;
        flex-direction: column;
        row-gap: 10px;
    }
}